---
section: main
debug: true

channels: #bots #cjdns #documentation #peering #fc00 #netops #webdev #fuck-off-ansuz-you-sjw-tool #paris #offmylawn #cs #radar #toronto

floodProtection: true
floodProtectionDelay: 1000

autoRejoin: true
autoConnect: true

userName: NSA
---

---
section: irc_network

nick: NSA
domain: irc.hypeirc.net
---

---
section: httpd

port: 8080
---
